@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --h1-font-size: 2.85rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.97rem;
    --h4-font-size: 1.43rem;
    --h5-font-size: 1.13rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aquamarine;
    font-family: 'Inter', sans-serif;
    transition: .3s;
    color: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #3A9AFF;
    text-decoration: none;
    cursor: pointer;
}

/*reusable Styles*/

.page-section {
    position: relative;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.fill-btn {
    background: #1774d8;
    border: 2px solid #3A9AFF;
}

.fill-btn:hover {
    border: 2px solid #3A9AFF;
}

/*header*/
.page-header {
    z-index: 1100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    transition: .3s ease;
}

.page-header .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-logo a {
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: -3px;
    transition: .3s;
}

.page-logo a:hover {
    color: #3A9AFF;
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.contact-me-icon {
    color: white;
    font-size: 1.8rem;
    transition: .3s;
    display: none;
}

.contact-me-icon:hover {
    color: #3A9AFF;
}

.page-main-btn {
    width: fit-content;
    padding: 14px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: .3s;

}

.page-main-btn:hover {
    color: white;
    background: #3A9AFF;
    border: 2px solid #3A9AFF;
}

.page-main-btn a {
    color: white;
    font-size: 1.07rem;
    font-weight: 500;
    transition: .3s;
}

.page-main-btn:hover a {
    color: white;
}

.border-btn {
    border: 2px solid white;
}

.theme-btn {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 27px;
    cursor: pointer;
}

.theme-btn i {
    position: absolute;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    transition: .3s;
}

.theme-btn:hover {
    color: #3A9AFF;
    transform: rotate(-15deg);
}

.theme-btn .moon-icon {
    display: none; 
}

/*bottom nav*/
.bottom-nav-container {
    position: relative;
}

.bottom-nav {
    z-index: 1100;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.bottom-nav .inner {
    padding: relative;
}

.bottom-nav .menu {
    background: #0c1b3b;
    backdrop-filter: blur(10px);
    padding: 16px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    border-bottom: 0.1px solid;
    border-left: 0.1px solid;
    border-radius: 50px;
}

.bottom-nav .menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu ul,
li {
    list-style: none;
}

.bottom-nav .menu li a i {
    color: white;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.bottom-nav .menu li:hover a i {
    color: white;
    background: #3A9AFF;
}

.bottom-nav .menu .current i {
    color: #060F22;
    background: #3A9AFF;
}

.bottom-nav .menu li a span {
    z-index: 1000;
    position: absolute;
    color: #060F22;
    background: #3A9AFF;
    font-size: .98rem;
    font-weight: 500;
    padding: 3px 10px;
    transform: translateY(-53px);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.bottom-nav .menu li:hover a span {
    opacity: 1;
}

.bottom-nav .menu li a span::before {
    content: "";
    z-index: -1;
    position: absolute;
    background: #3A9AFF;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: -8px;
    left: 50%;
    transform: rotate(44deg) translateX(-50%);
}

.bottom-nav .menu-hide-btn {
    z-index: 1100;
    position: absolute;
    top: -5px;
    right: 0;
    color: #060F22;
    font-size: 1.52rem;
    background: #3A9AFF;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

/*home section*/
.home-container {
    height: 100vh;
}

.home-container .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.profile-img {
    position: relative;
    width: 425px;
    height: 425px;
}

.profile-img img {
    position: absolute;
    width: 100%;
}

.home-social {
    position: absolute;
    left: 0;
}

.home-social span {
    position: absolute;
    left: 10px;
    color: white;
    font-size: .98rem;
    white-space: nowrap;
    transform: rotateZ(-90deg);
    transform-origin: left;
}

.home-social .social-icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-social .social-icons li a {
    color: white;
    font-size: 1.48rem;
    transition: .3s;
}

.home-social .social-icons li a:hover {
    color: #3A9AFF;

}

.profile-container .hire-btn-01 {
    display: none;
}

.profile-info {
    position: relative;
}

.profile-info .text-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile-info .hello-text {
    font-size: 1.1rem;
    font-weight: 600;
}

.profile-info .name-text {
    font-weight: 700;
    font-size: var(--h1-font-size);
    color: white;
}

.profile-info .what-I-do {
    font-size: var(--base-font-size);
    font-weight: 600;
    margin-bottom: 35px;

}
